<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Fuji Luxury Test Suite">
    <listeners>
        <listener class-name="com.fujiluxury.test.utils.ExtentReportListener"/>
    </listeners>

    <test name="Fuji Luxury Website Tests">
        <classes>
            <class name="com.fujiluxury.test.tests.HomePageTests"/>
            <class name="com.fujiluxury.test.tests.SearchFunctionalityTests"/>
            <class name="com.fujiluxury.test.tests.LoginTests"/>
            <class name="com.fujiluxury.test.tests.RegisterPageTests"/>
            <class name="com.fujiluxury.test.tests.PerformanceTests"/>
        </classes>
    </test>
</suite>